* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #E1E6F0;
    --text-color1: #FFFFFF;
}

body {
   
    background-color: black;
}

/* Aside contents start  */
.aside1 {
    height: 100vh;
    width: 100px;
    background-color: transparent;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;

}

.Hotstar-logo {
    display: flex;
    justify-content: center;
    margin-top: 25%;
}

.Hotstar-logo img {
    height: 50px;
    width: 60px;
}

.Sidebar-icons {
    color: rgba(211, 211, 211, 0.639);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-left: 40px;
    margin-top: 70%;
    overflow: hidden;
    font-weight: bold;
    box-sizing: border-box;
}

.Sidebar-icons a {
    text-decoration: none;
    color: rgba(211, 211, 211, 0.639);
}

.icon1 {
    display: flex;
}

.myspace {
    border-radius: 50%;
    height: 23px;
    width: 23px;
}

.icon-name {
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    font-size: 16px;
    transition: opacity 0.3s ease;
}

.Sidebar-icons:hover {
    width: 150px;
    background-color: black;
    box-shadow: 0px 0px 1000px black;
}

.Sidebar-icons:hover .icon-name {
    animation: name 0.5s linear;
    opacity: 1;
    visibility: visible;
    margin-left: 20px;
}

@keyframes name {
    from {
        transform: translateX(-25px);
    }

    to {
        transform: translateX(0px);
    }
}

.nav-link.active .icon1,
.home span {
    color: var(--text-color1);
    font-weight: bolder;
}

.nav-link.active i {
    background: linear-gradient(to bottom, blue, rgb(248, 132, 151));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 18px;
    font-weight: bold
}

.nav-link.active .icon-name {
    background: linear-gradient(to bottom, blue, rgb(248, 132, 151));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 16px;
    font-weight: bold;
}


.icon1:hover {
    color: var(--text-color1);
}

.icon1:hover span {
    color: var(--text-color1);
}

/* Aside contents end */


/* Right container starts */
.right-container {
    height: auto;
    min-height: 100vh;
    background-color: black;
    margin-left: 100px;
}

/* chatgpt-hero */
.chatgpt-hero {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 2%;
}

.gpt-img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 5px;
}

.row1 img {
    width: 40px;
    height: 40px;
    border-radius: 1px;
}

.ad {
    background-color: #FFCC75;
    color: #804800;
    margin: 0px 1px 0px 0px;
    padding: 0px 4px;
    font-family: sans-serif;
    border-radius: 2px;
    font-size: 14px;
}

.go {
    font-size: 16px;
    font-family: sans-serif;
    color: var(--text-color1);
}

.free {
    font-family: sans-serif;
    font-size: 14px;
    color: #8F98B2;
}

.free2 {
    font-family: sans-serif;
    font-size: 16px;
    color: var(--text-color);
}

.gpt-offer {
    background-color: #282533;
    color: var(--text-color);
    padding: 12px 40px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
}

.gpt-offer:hover {
    transform: scale(1.02);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.gpt-contents {
    display: flex;
    flex-direction: column;
    gap: 100px;
    perspective: 1000px;
}


.hero-section {
    position: sticky;
    top: 0px;
    height: 100vh;
    overflow: hidden;
    /* background: #000; */

}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.85) 10%,
            rgba(0, 0, 0, 0.55) 50%,
            rgba(0, 0, 0, 0.2) 80%,
            transparent 100%);
}

.hero-slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    animation: slideShow 15s infinite;
}

.slide1 {
    background-image: url(./Images/hero-img.avif);
    background-position: left;
    animation-delay: 0s;
}

.slide2 {
    background-image: url(./Images/hero-img2.avif);
    animation-delay: 3s;
}

.slide3 {
    background-image: url(./Images/hero-img3.avif);
    animation-delay: 6s;
}

.slide1,
.slide2,
.slide3 {
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.slide-video {
    animation-delay: 10.7s;
}

.slide-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



@keyframes slideShow {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }


    35% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}





.hero-content {
    position: absolute;
    bottom: 15px;
    left: 25%;
    z-index: 5;
    color: var(--text-color1);
    max-width: 500px;

}

.hero-content2 {
    position: absolute;
    bottom: 10%;
    left: 30px;
    z-index: 5;
    color: var(--text-color1);
    max-width: 500px;
}

.hero-content3 {
    position: absolute;
    bottom: 15%;
    left: 30px;
    z-index: 5;
    color: var(--text-color1);
    max-width: 500px;
}

.hero-content4 {
    position: absolute;
    bottom: 10%;
    left: 10px;
    z-index: 5;
    color: var(--text-color1);
    max-width: 500px;
}

.movie-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.rating {
    font-size: 1rem;
    opacity: 0.85;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.watch-btn {
    padding: 15px 40px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    background: linear-gradient(90deg, blue, rgb(248, 132, 151));
    color: var(--text-color);
    cursor: pointer;
}

.watch-btn:hover {
    transform: scale(1.05);
}

.plus {
    padding: 17px;
    border-radius: 5px;
    border: none;
    background-color: #fefcfc78;
    color: var(--text-color);
}

.overall-btn {
    display: flex;
    justify-content: center;
    gap: 3%;
    cursor: pointer;

}

a {
    text-decoration: none;
}

/* main hero section end */

/* carousel images start */
.carousel-head {
    color: var(--text-color);
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 1%;
}

.carousel-containers {
    padding: 10px 0px;
    display: flex;
    gap: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    margin-bottom: 3%;

}

.carousel {
    position: relative;
    background-color: black;
    background:

        linear-gradient(180deg,
            #03060b 0%,
            /* dark blue */
            #070511 30%,
            /* blue-purple */
            #10060a 80%,
            /* purple-pink */
            rgb(1, 1, 1) 90%
            /* black */
        );

    background-repeat: no-repeat;
    padding-top: 0.5%;
    padding-left: 2%;
}

.carousel-img {
    min-width: 170px;
    height: 230px;
    background-color: #804800;
    border-radius: 4px;
    overflow: visible;
    position: relative;
    flex-shrink: 0;

}

.carousel-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    transition: transform 0.3s ease;

}

.carousel-img:hover img {
    transform: scale(1.09);

}

.hover-content {
    position: absolute;
    top: 75%;
    left: 2%;
    width: 100%;
    background: rgba(0, 0, 0, 0.879);
    box-shadow: 0px 0px 10px gray;
    color: #fff;
    padding: 8px;
    font-size: 13px;
    border-radius: 0 6px 0 6px;
    text-align: center;
    opacity: 0;
    transform: translateY(-10px);

    transition: opacity 0.3s ease, transform 0.3s ease;
}

.carousel-img a {
    text-decoration: none;
}

.carousel-img:hover .hover-content {
    opacity: 1;
    transform: translateY(0);
}

.watch-btn1 {
    background: linear-gradient(90deg, blue, rgb(248, 132, 151));
    color: var(--text-color);
    border: none;
    padding: 1px 2px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1%;
}


/* 2nd carousel img section starts*/
.carousel-img2 {
    min-width: 260px;
    height: 195px;
    color: var(--text-color);
    font-size: 16px;
    font-family: sans-serif;
    border-radius: 4px;
    overflow: hidden;
}

.carousel-img2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.img-content {
    padding: 5px 10px;
}

/* 5 img carousel starts */
.carousel-img3 {
    min-width: 260px;
    height: 150px;
    border-radius: 4px;
    overflow: hidden;
}

.carousel-img3:hover {
    transform: scale(1.12);
    transition: 0.3s linear;
}

.carousel-img3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

/* <!-- 6th carousel end --> */

.footer {
    width: 100%;
    padding: 10px 50px 25px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-row1 {
    display: flex;
    justify-content: space-between;

}

.contact {
    line-height: 40px;
}

.contact h3 {
    color: var(--text-color);
    font-size: 14px;
    font-family: sans-serif;
}

.contact p,
span {
    color: #8F98B2;
    font-size: 12px;
    font-family: sans-serif;
}

.footer-row2 {
    display: flex;
    justify-content: space-between;
}

.footer-row2 p,
span {
    color: #707A94;
    font-size: 12px;
    font-family: sans-serif;
    line-height: 25px;
}

.footer-row2 img {
    width: 130px;
}

.aside2 {
    display: none;
    height: 40px;
    width: 100%;
    background-color: transparent;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 100;
}

.Sidebar-icons1 {
    color: rgba(211, 211, 211, 0.639);
    display: flex;
   
    overflow: hidden;
    font-weight: bold;
    box-sizing: border-box;
    background-color: black;
    
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
.Sidebar-icons1 a {
    text-decoration: none;
    color: rgba(211, 211, 211, 0.639);
}


/* Media query */
/* (xs)For smaller devices */
@media (max-width:576px) {
    .chatgpt-hero {
        display: flex;
        flex-direction: column;
    }

    .gpt-contents {
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }

    .free2 {
        margin-left: 6%;
    }

    .aside1 {
        display: none;

    }

    .right-container {
        margin: 0px;
    }

    .aside2 {
        display: block;
    }

    .icon-name {
        display: none;
    }

    .Hotstar-logo {
        display: none;
    }

    

    .footer-row1 {
        gap: 30px;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 20%;


    }

    .footer-row2 {
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;
        padding-top: 10%;
    }

    .carousel {
        padding-bottom: 50px;
    }

    .carousel-img {
        min-width: 150px;
        height: 200px;
        background-color: #804800;
        border-radius: 4px;
        overflow: visible;
        position: relative;
        flex-shrink: 0;
    }

    .carousel-img2 {
        min-width: 200px;
        height: 185px;
        color: var(--text-color);
        font-size: 16px;
        font-family: sans-serif;
        border-radius: 4px;
        overflow: hidden;
    }

    .carousel-img3 {
        min-width: 200px;
        height: 130px;
        border-radius: 4px;
        overflow: hidden;
    }

    .icon1 {
        font-size: 15px;
    }

    .nav-link.active i {
        font-size: 15px;
    }

    .myspace {
        height: 18px;
        width: 18px;
        border-radius: 50%;
    }

    .gpt-contents {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .star {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .play {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .hero-content{
        bottom: 70px;
        left: 5%;
    }
    .hero-content4{
        bottom: 15%;
    }
    .hero-content3{
        left: 15px;
    }
    .hover-content{
        top: 65%;
    }
}

/* media query- Tablet */
@media (min-width:576px) and (max-width:992px) {

    
    .footer-row2 {
        justify-content: center;
        gap: 40px;
        flex-wrap: wrap;
    }
    .star{
          display: flex;
          flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
      .play {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
      .chatgpt-hero {
        display: flex;
        flex-direction: column;
    }

    .gpt-contents {
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }

    .free2 {
        margin-left: 6%;
    }

}
/* media query- Mini Pc  */
@media (min-width:993px) and (max-width:1199px){

}


 /* media query- Large sreen */
@media (min-width:1200px){
    .chatgpt-hero{
        justify-content: space-evenly;
    }
    .footer-row1{
        justify-content: space-between;
    }
    .footer-row2{
        justify-content: space-around;
    }

}