* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #E1E6F0;
    --text-color1: #FFFFFF;
}

body {
    color: white;
  background-color: #0f0f14;

  background-image:
    linear-gradient(
      to bottom,
      rgba(15,15,20,0.2),
      rgba(15,15,20,0.6),
      rgba(15,15,20,1)
    ),
    linear-gradient(
      180deg,
      #02040c 0%,   /* dark blue */
      #191138 30%,  /* blue-purple */
      #810e31 90%,  /* purple-pink */
      #0f0f14 95%   /* black */
    );

  background-repeat: no-repeat;
  background-size: 100% 40vh;

    
}

/* Aside contents start  */
.aside1 {
    height: 100vh;
    width: 100px;
    background-color: transparent;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;

}


.Sidebar-icons {
    color: rgba(211, 211, 211, 0.639);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-left: 40px;
    margin-top: 130%;
    overflow: hidden;
    font-weight: bold;
     box-sizing: border-box;
}

.Sidebar-icons a {
    text-decoration: none;
    color: rgba(211, 211, 211, 0.639)
}

.icon1 {
    display: flex;
}

.icon-name {
      opacity: 0;
  visibility: hidden;
  white-space: nowrap;
  font-size: 16px;
  transition: opacity 0.3s ease;
}

.Sidebar-icons:hover {
    width: 150px;
    background-color: 
    rgba(0, 0, 0, 0.677);
     box-shadow:0px 0px 1000px black;

}

.Sidebar-icons:hover .icon-name {
    animation: name 0.5s linear;
     opacity: 1;
  visibility: visible;
  margin-left: 20px;
}
@keyframes name{
    from{
        transform: translateX(-25px);
    }
    to{
        transform: translateX(0px);
    }
}

.nav-link.active .icon1,
.categories span {
    color: var(--text-color1);
    font-weight: bolder;
}
.nav-link.active i {
    background: linear-gradient(to bottom, blue, rgb(248, 132, 151));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 18px;
    font-weight: bold
}
.nav-link.active .icon-name{
    background: linear-gradient(to bottom, blue, rgb(248, 132, 151));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 16px;
    font-weight: bold;
}


.icon1:hover {
    color: var(--text-color1);
}

.icon1:hover span {
    color: var(--text-color1);
}

/* Aside contents end */


/* Right container starts */
.right-container {
    height: auto;
    min-height: 100vh;
    margin-left: 100px;
}
/* carousel images start */
.carousel-head {
    color: var(--text-color);
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 1%;
}

.carousel-containers {
    padding: 10px 0px;
    display: flex;
    gap: 4px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    margin-bottom: 3%;

}

.carousel {
    position: relative;
    padding-top: 8%;
    padding-left: 2%;
}



/* 5 img carousel starts */
.carousel-img3 {
    min-width: 260px;
    height: 150px;
    border-radius: 4px;
    overflow: hidden;
}

.carousel-img3:hover {
    transform: scale(1.12);
    transition: 0.3s linear;
}

.carousel-img3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

/* <!-- 6th carousel end --> */
a{
    text-decoration: none;
}

.footer {
    width: 100%;
    padding: 10px 50px 25px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-row1 {
    display: flex;
    justify-content: space-between;

}

.contact {
    line-height: 40px;
}

.contact h3 {
    color: var(--text-color);
    font-size: 14px;
    font-family: sans-serif;
}

.contact p,
span {
    color: #8F98B2;
    font-size: 12px;
    font-family: sans-serif;
}

.footer-row2 {
    display: flex;
    justify-content: space-between;
}

.footer-row2 p,
span {
    color: #707A94;
    font-size: 12px;
    font-family: sans-serif;
    line-height: 25px;
}

.footer-row2 img {
    width: 130px;
}


.aside2 {
    display: none;
    height: 40px;
    width: 100%;
    background-color: transparent;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 100;
}

.Sidebar-icons1 {
    color: rgba(211, 211, 211, 0.639);
    display: flex;
    overflow: hidden;
    font-weight: bold;
    box-sizing: border-box;
    background-color: black;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
.Sidebar-icons1 a {
    text-decoration: none;
    color: rgba(211, 211, 211, 0.639);
}
/* Media query */
/* (xs)For smaller devices */
@media (max-width:575.98px) {
    .chatgpt-hero {
        display: flex;
        flex-direction: column;
    }

    .gpt-contents {
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }

    .free2 {
        margin-left: 6%;
    }

    .aside1 {
        display: none;

    }

    .right-container {
        margin: 0;
    }

    .aside2 {
        display: block;
    }

    .icon-name {
        display: none;
    }

    .Hotstar-logo {
        display: none;
    }

    
 .footer-row1{
        gap: 50px;
        justify-content: center;
        display: grid;
        grid-template-columns:repeat(2,2fr);
        padding-left: 20%;
        
    }
    .footer-row2{
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;
        padding-top: 10%;
    }

    .carousel {
        padding-bottom: 50px;
    }

    .carousel-img {
        min-width: 150px;
        height: 200px;
        background-color: #804800;
        border-radius: 4px;
        overflow: visible;
        position: relative;
        flex-shrink: 0;
    }

    .carousel-img2 {
        min-width: 200px;
        height: 185px;
        color: var(--text-color);
        font-size: 16px;
        font-family: sans-serif;
        border-radius: 4px;
        overflow: hidden;
    }

    .carousel-img3 {
        min-width: 200px;
        height: 130px;
        border-radius: 4px;
        overflow: hidden;
    }

    .icon1 {
        font-size: 15px;
    }

    .nav-link.active i {
        font-size: 15px;
    }

    .myspace {
        height: 18px;
        width: 18px;
        border-radius: 50%;
    }
      .star {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .play {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
/* media query- Tablet */
@media (min-width:576px) and (max-width:992px) {

 .footer-row2 {
        justify-content: center;
        gap: 40px;
        flex-wrap: wrap;
    }
    .star{
          display: flex;
          flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
      .play {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}
/* media query- Mini Pc  */
@media (min-width:993px) and (max-width:1199px){

}


 /* media query- Large sreen */
@media (min-width:1200px){
      .footer-row1{
        justify-content: space-between;
    }
    .footer-row2{
        justify-content: space-around;
    }

}